@media (max-width: 992px) {
  .navbar {
    padding-left: 5%;
  }
  .navbar-list {
    position: absolute;
    top: 200px;
    left: 55%;
    bottom: 300px;
    width: 30%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    gap: 1px;
    padding: 20px;

    background-color: rgba(80, 80, 80, 0.98);
    z-index: 3;
  }

  .navbar ul {
    display: none;
  }
  .navbar i {
    display: block;
    z-index: 3;
  }
  #menu-toggle:checked ~ .navbar-list {
    display: flex;
  }
  .cart {
    width: 35%;
  }
  #logo-joyeria {
    margin-left: 140px;
  }

  .Joyas {
    gap: 20px;
  }
  .description {
    width: 100%;
    padding: 70px;
  }
  .descubre {
    font-size: 18px;
    padding: 20px;

    margin-left: 300px;
  }
  .back-description {
    display: flex;
    position: absolute;
    padding-top: 0px;
  }
  .back-description img {
    height: 493px;
    border-bottom-right-radius: 55% 30%;
  }
  .creator-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    align-items: start;
    color: rgb(24, 24, 50);
    font-size: 16px;
    font-weight: 600;
  }
  .creator-info {
    font-size: 18px;
  }
  .joya-card-info {
    padding: 20px;
  }

  .info-cards-container {
    max-width: 100%;
    gap: 40px;
  }
  .info-card {
    width: 300px;
    height: 340px;
  }
  .explora-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .explora-info h2 {
    width: 100%;
    text-align: center;
  }
  .material-categories {
    gap: 40px;
  }
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 80%;
  }
  .product-oro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 0px;
    padding: 10px;
    gap: 20px;
  }
  .oro-00 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0px;
  }

  .oro-01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0px;
  }
  .oro-02 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 0px;
  }
  .datos-desarrollador {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .datos-desarrollador img {
    width: 10%;
    border-radius: 5px;
  }
  #logo-02 {
    position: absolute;
    width: 50%;
    z-index: 2;
    left: 200px;
  }
  .imagen-contacto img {
    width: 1600px;
    height: 100%;
  }
  footer {
    margin: 0px;
    margin-top: 180px;
    padding: 10px 20px 10px 0px;
    height: 180px;
  }

  .leyenda-logo-footer {
    padding-left: 20px;
    gap: 2px;
  }
  .leyenda-logo-footer img {
    position: absolute;
    width: 75px;
    bottom: 80px;
  }
}
