@media (max-width: 414px) {
  header {
    position: relative;
    width: 100%;
    height: 160px;
    padding: 0px 0px;
    gap: 20px;
  }
  .navbar {
    margin: 0px;
    padding: 0px;
    gap: 0px;
  }
  .navbar i {
    padding-left: 40px;
    padding-right: 0px;
  }
  .leyenda-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1px;
    padding-left: 0;
  }

  .texto-logo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: linear-gradient(
      0deg,
      rgba(83, 66, 27, 1) 0%,
      rgb(246, 212, 64) 28%,
      rgba(82, 72, 52, 1) 100%
    );
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    margin-top: 80px;
    margin-left: 10px;
  }
  .texto-logo h2 {
    font-size: 18px;
  }
  #logo-joyeria {
    display: flex;
    position: absolute;
    align-items: start;
    width: 75px;
    height: auto;
    padding: 1px;
    margin-left: 0px;
    left: 50px;
    top: 20px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(80, 80, 80, 0.9);
    color: #fff;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 160px;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    border-bottom: solid 3px;
    border-color: linear-gradient(
      0deg,
      rgba(83, 66, 27, 1) 0%,
      rgb(246, 212, 64) 28%,
      rgba(82, 72, 52, 1) 100%
    );
    padding: 0;
    padding-right: 0px;
    margin: 0;
  }
  .carrito {
    display: flex;
    font-weight: 600;
    border-radius: 10px;
    height: 150px;
    padding: 50px;
    padding-left: 0px;
    padding-right: 40px;
    margin-right: 0px;
    cursor: pointer;
  }
  .cart {
    width: 50%;
    height: auto;
  }
  .navbar-list {
    top: 160px;
    left: 140px;
    bottom: 300px;
    width: 100%;
    height: 400px;
  }
  .descubre {
    padding: 7px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .back-description {
    display: flex;
    position: absolute;
    top: 550px;
  }
  .creator-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1px;
    align-items: start;
    color: rgb(24, 24, 50);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
  }
  .anillo-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .joya-card-creator {
    gap: 2px;
  }
  .joya-card-creator img {
    width: 20%;
    border-radius: 5px;
  }
  .card-price {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-size: 14px;
    font-weight: 900;
    gap: 5px;
  }
  /*NUEVO-LANZAMIENTO*/

  .contenedor-parrafo {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.427);
    width: 100%;
    height: 80px;
  }
  .nuevo-lanzamiento p {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 40px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-right: 80px;
    margin-bottom: 0px;
    border-bottom: solid 2px black;
    line-height: 0.8;
    top: 10px;
  }
  .nuevo-lanzamiento p > a {
    color: white;
  }

  #Black {
    color: black;
    top: 45px;
    font-size: 20px;
    right: 0px;
    left: 200px;
    padding: 0px;
    border: none;
  }

  .nuevo-lanzamiento p > a:hover {
    color: rgb(0, 0, 0);
  }

  .nuevo-lanzamiento img {
    width: 100%;
    height: 300px;
    border-bottom: solid 10px white;
    border-top: solid 2px white;
    z-index: 0;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .imagen-contacto {
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    top: -20px;
    right: 80px;
    perspective: 400px;
  }
  .imagen-contacto img {
    width: 600px;
    height: 300px;
    rotate: 90deg;
    animation: rotateX 25s linear infinite alternate;
    transform-style: preserve-3d;
    overflow: hidden;
  }
  .leyenda-logo-footer {
    padding-top: 10px;
  }
  .texto-logo {
    margin-left: 5px;
  }
}
