@media (max-width: 576px) {
  header {
    width: 100%;
    padding: 0px 5px;
    gap: 40px;
  }
  #logo-joyeria {
    padding: 0px;
    width: 50%;
    margin-left: 50px;
  }
  .leyenda-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 10px;
    padding-left: 0;
    gap: 1px;
  }
  .texto-logo {
    margin-left: 20px;
    gap: 0.5px;
  }
  .texto-logo p {
    font-size: 14px;
  }
  .cart {
    top: 160px;
  }
  .navbar {
    padding: 0px;
  }
  .navbar ul {
    top: 160px;
    width: 50%;
  }
  .descubre {
    font-size: 18px;
    padding: 10px;

    margin-left: 80px;
  }
  .back-description {
    display: flex;
    position: absolute;
    top: 530px;
  }
  .back-description img {
    height: 490px;
    border-bottom-right-radius: 64% 40%;
  }
  .Joyas {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .joya-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px;
    margin-left: 50px;
    padding: 20px;
  }
  .info-intro {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .products {
    margin: 0px;
    padding: 0px;
  }
  .products-container {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    gap: 40px;
  }
  .product-oro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .product-oro {
    width: 100%;
    padding: 0px;
    gap: 40px;
  }
  .oro-00 {
    width: 80%;
  }
  .product-oro-anillo {
    padding: 20px;
  }
  .oro-01 {
    width: 80%;
  }
  .product-oro-collar {
    padding: 20px;
  }
  .oro-02 {
    width: 80%;
  }
  .product-oro-02 {
    padding: 20px;
  }
  .product-plata {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .product-plata {
    width: 100%;
    padding: 0px;
    gap: 40px;
  }
  .plata-00 {
    width: 80%;
  }
  .product-plata-00 {
    padding: 20px;
  }
  .plata-01 {
    width: 80%;
  }
  .product-plata-01 {
    padding: 20px;
  }
  .plata-02 {
    width: 80%;
  }
  .product-plata-02 {
    padding: 20px;
  }
  /*contacto*/
  #contact {
    padding-right: 20px;
  }
  .contact-us {
    width: 576px;
    margin: 0px;
  }
  .items-redes,
  .items-contacto {
    gap: 5px;
  }
  #logo-02 {
    position: absolute;
    width: 40%;
    top: 120px;
    z-index: 2;
    left: 120px;
    display: none;
  }
  .imagen-contacto {
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    width: 100%;
  }
  .imagen-contacto img {
    position: absolute;
    top: 100px;
    right: 0;
    height: auto;
    max-width: 100%;
    padding: 20px;
  }
  /*footer*/

  footer {
    padding-left: 0px;
    margin: 0px;
    margin-top: 40px;
    height: 160px;
  }
  .leyenda-logo-footer img {
    position: absolute;
    width: 100px;
    margin: 0px;
    bottom: 65px;
    left: 40px;
    padding-left: 25px;
  }
  .texto-logo {
    margin-left: 20px;
  }
  .list-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  .items-footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100% / 100% 0% 100% 10%;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border: solid 2px;
    border-top: 1px;
    border-right: 1px;
    border-color: rgba(12, 12, 24, 0.927);
    cursor: pointer;
  }
}
