@media (max-width: 768px) {
  header {
    height: 160px;
  }
  #logo-joyeria {
    margin-left: 100px;
  }
  .navbar {
    padding-right: 20px;
    height: 160px;
    gap: 60px;
  }

  .cart {
    top: 160px;
  }
  .navbar ul {
    top: 160px;
  }
  .descubre {
    font-size: 18px;
    padding: 20px;

    margin-left: 200px;
  }
  .back-description {
    display: flex;
    position: absolute;
    top: 280px;
  }
  .back-description img {
    height: 490px;
    border-bottom-right-radius: 55% 30%;
  }
  .joya-card-creator img {
    width: 15%;
    border-radius: 5px;
  }
  .info-cards-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .info-card {
    width: 300px;
    height: 320px;
  }
  /*NUEVO-LANZAMIENTO*/
  .seccion-lanzamiento {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
  }

  .nuevo-lanzamiento {
    display: flex;
    position: relative;
  }
  .contenedor-parrafo {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.427);
    width: 100%;
    height: 120px;
  }
  .nuevo-lanzamiento p {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 60px;
    margin-left: 40px;
    padding-bottom: 0px;
    padding-right: 80px;
    margin-bottom: 0px;
    border-bottom: solid 2px black;
    line-height: 0.8;
    top: 10px;
  }
  .nuevo-lanzamiento p > a {
    color: white;
  }

  #Black {
    color: black;
    top: 65px;
    font-size: 30px;
    left: 320px;
    border: none;
  }

  .nuevo-lanzamiento p > a:hover {
    color: rgb(0, 0, 0);
  }

  .nuevo-lanzamiento img {
    width: 100%;
    height: 300px;
    border-bottom: solid 10px white;
    border-top: solid 2px white;
    z-index: 0;
  }
  .products-container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .product-oro {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }
  .product-oro-anillo {
    padding: 10px;
    gap: 10px;
  }
  #img-oro-00 {
    width: 60%;
  }
  #img-oro-00:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
  }
  .product-oro-collar {
    padding: 10px;
    gap: 10px;
  }
  #img-oro-01 {
    width: 60%;
  }
  #img-oro-01:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
  }
  .product-oro-02 {
    padding: 10px;
    gap: 10px;
  }
  #img-oro-02 {
    width: 60%;
  }
  #img-oro-02:hover {
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
  }
  .oro-00,
  .oro-01,
  .oro-02 {
    padding: 30px;
  }
  .product-oro-anillo,
  .product-oro-collar,
  .product-oro-02 {
    padding: 0px;
  }
  .product-info {
    padding: 0px;
    gap: 10px;
  }

  .top-info p {
    padding: 0 10px;
  }
  .datos-desarrollador {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .datos-desarrollador img {
    width: 10%;
    border-radius: 5px;
  }
  .bot-info {
    padding-bottom: 5px;
  }
  .offer-time img {
    width: 10%;
  }
  .btn-add > a {
    border-radius: 10px;
    padding: 3px 10px;
  }
  #contact {
    margin: 0px;
  }
  .contact-us {
    margin: 0px;
    padding: 0px 20px;
  }

  .contacto {
    gap: 5px;
  }
  #logo-02 {
    position: absolute;
    width: 50%;
    z-index: 2;
    left: 140px;
  }
  .contact-00 {
    width: 100%;
  }
  .imagen-contacto {
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    top: -5%;
    right: 80px;
    perspective: 1000px;
  }
  .imagen-contacto img {
    width: 720px;
    height: 400px;
    animation: rotateX 25s linear infinite alternate;
    transform-style: preserve-3d;
    overflow: hidden;
  }
  @keyframes rotateX {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(30deg);
    }
    100% {
      transform: rotateX(60deg);
    }
  }
  /*footer*/
  footer {
    margin: 0px;
    margin-top: 180px;
    padding: 10px 20px 10px 0px;
    height: 180px;
  }
  .leyenda-logo-footer img {
    position: absolute;
    width: 80px;
    bottom: 80px;
    left: 70px;
  }
  .texto-logo {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .list-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    gap: 10px;
    margin-bottom: 40px;
  }
  .items-footer {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 100% / 100% 0% 100% 10%;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border: solid 2px;
    border-top: 1px;
    border-right: 1px;
    border-color: rgba(12, 12, 24, 0.927);
    cursor: pointer;
  }
}
