@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Indie+Flower&family=Poppins:wght@100;300;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgb(12, 12, 24);
}

header {
  background-color: rgb(12, 12, 24);
  box-shadow: 0 20px 40px rgba(50, 49, 62, 0.3);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 200px;
  padding: 0px 5px;
  font-size: 1.2rem;
  font-weight: 900;
  gap: 120px;
  margin-left: 0%;
  margin-top: 0;
  border-bottom: solid 3px;
  border-color: rgba(255, 255, 255, 0.165);
  background: linear-gradient(
    to bottom,
    rgb(9, 9, 19),
    rgba(41, 41, 80, 0.774)
  );
}

.leyenda-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  padding-left: 0;
}

.texto-logo {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    0deg,
    rgba(83, 66, 27, 1) 0%,
    rgb(246, 212, 64) 28%,
    rgba(82, 72, 52, 1) 100%
  );
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
#logo-joyeria {
  display: flex;
  align-items: center;
  width: 25%;
  height: 25%;
  padding: 5px;
  margin-left: 220px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(80, 80, 80, 0.9);
  color: #fff;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 200px;
  border-radius: 30% / 50% 0 90% 50%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px;
  border-color: linear-gradient(
    0deg,
    rgba(83, 66, 27, 1) 0%,
    rgb(246, 212, 64) 28%,
    rgba(82, 72, 52, 1) 100%
  );
  padding: 0;
  padding-right: 80px;
  margin: 0;
}
@keyframes destello {
  0% {
    border-bottom: solid 3px #fff;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }
  50% {
    border-bottom: 2px solid #f7e702;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 15px 30px rgba(143, 135, 0, 0.3);
  }
  100% {
    border-bottom: 3px solid #fff;
    border-radius: 30% / 50% 0 90% 50%;
    box-shadow: 0 10px 20px rgba(255, 242, 0, 0.3);
  }
}

/* animación al contenedor navbar completo */
.navbar:hover {
  animation: destello 2s infinite;
}
.navbar-list:hover {
  animation: destello 2s infinite;
}

.navbar-list {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(80, 80, 80, 0.9);
  color: #fff;
  gap: 30px;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 80px;
  border-radius: 30% / 50% 0 90% 50%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px;
  border-color: linear-gradient(
    0deg,
    rgba(83, 66, 27, 1) 0%,
    rgb(246, 212, 64) 28%,
    rgba(82, 72, 52, 1) 100%
  );
  margin: 0;
  margin-top: 0;
}

nav a {
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}

nav a:hover {
  color: rgb(24, 24, 50);
  font-weight: 900;
}

.navbar-list li:first-child > a {
  color: azure;
  font-weight: 900;
  justify-content: left;
}
#menu-toggle {
  display: none;
}
.navbar i {
  font-size: 50px;
  padding-left: 20px;
  display: none;
}

/*menu carrito*/
.carrito {
  display: flex;
  font-weight: 600;
  border-radius: 10px;
  height: 150px;
  padding: 50px;
  margin-right: 1rem;
  cursor: pointer;
}

#cart-toggle {
  display: none;
}

.cart {
  position: absolute;
  background-color: rgba(12, 12, 24, 0.617);
  border-radius: 30% / 50% 0 90% 50%;
  top: 200px;
  right: 0;
  padding: 50px 30px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 65px);
  overflow: scroll;
  display: none;
  z-index: 2;
}
.cart h2 {
  color: rgb(154, 139, 220);
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
}
#cart-toggle:checked + .cart {
  display: flex;
}
#anillo-02 {
  width: 25%;
}
#menu-toggle:checked + .c main {
  background-color: black;
  width: 100%;
  height: 100%;
}

.Joyas {
  display: flex;
  justify-content: space-between;
  background-color: rgb(12, 12, 24);
  gap: 120px;
  padding-bottom: 10px;
}
.description-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(80, 80, 80, 0.794);
  border: solid 2px rgba(255, 255, 255, 0.649);
  border-left: none;
  border-right: none;
  color: #fff;
  padding: 100px;
  padding-top: 80px;
  gap: 20px;
  max-width: 100%;
  border-radius: 0px 20px 20px 0px;
  border-bottom-right-radius: 60% 20%;
  z-index: 1;
}
.description h1 {
  font-size: 36px;
  width: 100%;
  min-width: 300px;
  font-weight: 900;
}
.description h1 > span {
  font-size: 20px;
  color: rgb(24, 24, 50);
  font-size: 36px;
  width: 100%;
  min-width: 300px;
  font-weight: 900;
}
.description p {
  font-size: 20px;
  width: 100%;
  min-width: 300px;
  font-weight: 300;
}
.description p > span {
  font-size: 24px;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
.descubre {
  color: white;
  background-color: rgba(24, 24, 50, 0);
  border-radius: 100% / 100% 0% 100% 10%;
  font-size: 18px;
  padding: 20px;
  border: none;
  font-weight: 900;
  border: solid 2px;
  border-top: 1px;
  border-right: 1px;
  border-color: rgba(12, 12, 24, 0.927);
  cursor: pointer;
  margin-left: 400px;
}

.descubre:hover {
  background-color: white;
  border-color: white;
  border: none;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
.back-description {
  display: flex;
  position: absolute;
  top: 110px;
  padding-bottom: 20px;
}
.back-description {
  width: 100%;
  max-width: 100%;
}
.back-description img {
  width: 100%;
  opacity: 0.5;
  border-bottom-right-radius: 65% 25%;
  z-index: 0;
}

.joya-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  background-color: rgba(80, 80, 80, 0.9);
  padding: 60px;
  width: 80%;
  border-radius: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
  border-color: rgb(24, 24, 50);
  border-width: 5px;
  border-style: double;
  gap: 40px;
}
.joya-card img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
#anillo-principal:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}
.joya-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.anillo-card-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px;
}
.anillo-card-top h3 {
  font-size: 18px;
  font-weight: 800;
  color: white;
}
.anillo-card-top span {
  color: white;
  background-color: rgb(24, 24, 50);
  font-weight: 900;
  text-align: center;
  width: 50px;
  padding: 5px;
  border-radius: 10px;
}

.anillo-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.joya-card-creator {
  display: flex;
  align-items: start;
  gap: 10px;
}
.creator-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: start;
  color: rgb(24, 24, 50);
  font-size: 16px;
  font-weight: 600;
}
.red-social {
  color: rgb(24, 24, 50);
  font-weight: 900;
  cursor: pointer;
}
.red-social:hover {
  color: white;
}
.joya-card-creator img {
  width: 10%;
  border-radius: 20px;
}
.card-price {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  font-size: 16px;
  font-weight: 900;
  gap: 10px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
/*intro section */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.info-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  gap: 40px;
}
.info-intro p {
  width: 60%;
  font-size: 20px;
  text-align: justify;
}
.info-intro p > span {
  background-color: rgba(80, 80, 80, 0.9);
  border-radius: 10px;
  padding: 3px;
  color: rgb(24, 24, 50);
  font-weight: 900;
  font-size: 22px;
}
/* section cards */
.info-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 80px;
}

.info-card {
  background-color: rgba(80, 80, 80, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.info-card p {
  line-height: 0.97;
}
.info-card img {
  width: 50px;
}

/*explore section */
#explora {
  display: flex;
  margin-top: 40px;
  padding: 60px 0;
}
.explora-info {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 20px;
}
.explora-info h2 {
  color: white;
  width: 60%;
  font-size: 32px;
  height: 100%;
  line-height: 2;
  border-right: solid 2px white;
}
.explora-pasos-seleccion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.explora-pasos-seleccion p {
  color: white;
  width: 100%;
  align-items: end;
  font-size: 20px;
}
.explora-pasos-seleccion > a {
  color: white;
  font-weight: 700;
}
.comenza {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  font-size: 36px;
  border: solid;
  border-color: white;
  color: white;
  cursor: pointer;
}
.comenza:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
/*proceso de seleccion */
#material {
  display: flex;
}
.material-categories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  width: 100%;
  gap: 120px;
}
.material-categories h2 {
  text-align: center;
  color: white;
  width: 100%;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.todos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-todos {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn-todos:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}

.oro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-oro {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn-oro:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
.categories img {
  width: 200px;
  height: 180px;
  border-radius: 50%;
}
.plata {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-plata {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-plata:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
.platino {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-platino {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-platino:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
.combinados {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-combinados {
  background-color: rgba(80, 80, 80, 0);
  font-weight: 900;
  border: solid;
  border-color: white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn-combinados:hover {
  background-color: white;
  color: rgb(24, 24, 50);
  font-weight: 900;
}
/* productos */
#products {
  padding-top: 40px;
  padding-bottom: 40px;
}
.products-container {
  display: flex;
  justify-content: space-between;
}
.product-oro {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
.oro-00 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  background-color: rgba(80, 80, 80, 0.9);
  padding: 40px;
  width: 40%;
  border-radius: 40px;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
  border-color: rgb(24, 24, 50);
  border-width: 5px;
  border-style: double;
  gap: 20px;
}
.product-oro-anillo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.product-oro img {
  width: 50%;
}
#img-oro-00 {
  width: 60%;
}
#img-oro-00:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}
.product-info {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-info p {
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 20px;
}
.mid-info {
  display: flex;
  justify-content: space-between;
}
.desarrollador {
  display: flex;
  justify-content: center;
  align-items: center;
}
.datos-desarrollador {
  display: flex;
  align-items: start;
  gap: 10px;
}
.datos-desarrollador img {
  width: 10%;
  border-radius: 10px;
}
.datos-desarrollador p {
  font-weight: 300;
}
.desarrollador span {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.bot-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.offer-time {
  display: flex;
  gap: 10px;
}
.offer-time img {
  width: 10%;
}
.offer-time p {
  font-weight: 700;
}
.btn-add {
  background-color: rgba(50, 49, 62, 0);
  border-radius: 10px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
}
.btn-add > a {
  background-color: rgb(50, 49, 62);
  border-radius: 10px;
  padding: 5px 20px;
  width: 100%;
  border: none;
  font-size: 18px;
  font-weight: 900;
  color: rgb(24, 24, 50);
}
.btn-add > a:hover {
  background-color: rgb(24, 24, 50);
  color: white;
  border-radius: 10px;
  border: none;
}

.oro-01 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background-color: rgba(80, 80, 80, 0.9);
  padding: 40px;
  width: 40%;
  border-radius: 40px;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
  border-color: rgb(24, 24, 50);
  border-width: 5px;
  border-style: double;
  gap: 20px;
}
.product-oro-collar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
}
#img-oro-01 {
  width: 60%;
}
#img-oro-01:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}
.oro-02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  background-color: rgba(80, 80, 80, 0.9);
  padding: 40px;
  width: 40%;
  border-radius: 40px;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 60% 20%;
  border-bottom-right-radius: 60% 20%;
  border-color: rgb(24, 24, 50);
  border-width: 5px;
  border-style: double;
  gap: 20px;
}
.product-oro-02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
}
#img-oro-02 {
  width: 60%;
}
#img-oro-02:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in-out;
}

/* section-contact */
#contact {
  padding-top: 60px;
}
.contact-us {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 280px;
  color: white;
  width: 100%;
}
.social-networks {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  position: relative;
  z-index: 5;
}
.social-networks h2 {
  color: #c0c0c0;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.contact-us img {
  width: 20%;
  border-radius: 50%;
}
.items-redes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
}
li {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.red-social-00 i {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.red-social-00 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.red-social-01 i {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.red-social-01 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.red-social-02 i {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.red-social-02 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.red-social-03 i {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: 22px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.red-social-03 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.contacto {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  z-index: 5;
  gap: 10px;
}
.contacto h2 {
  color: #c0c0c0;

  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgb(255, 255, 255) 100%
  );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
.items-contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
}
.contact-00 i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 22px;
  padding: 5px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.contact-00 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.contact-01 i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 22px;
  padding: 5px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.contact-01 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.contact-02 i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 22px;
  padding: 5px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.contact-02 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.contact-03 i {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 22px;
  padding: 5px;
  background-color: transparent;
  border: solid 2px white;
  border-radius: 50%;
}
.contact-03 a {
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.imagen-contacto {
  position: absolute;
  z-index: 0;
  opacity: 0.4;
  top: -40%;
  right: 120px;
}
.imagen-contacto img {
  width: 1600px;
  height: 600px;
}
#logo-02 {
  position: relative;
  opacity: none;
  z-index: 6;
  width: 30%;
}
footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: rgba(80, 80, 80, 0.9);
  margin-top: 120px;
  padding: 10px 60px 10px 120px;
  border-radius: 60% / 50% 0 0% 0%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  border-top: solid 3px;
  border-color: rgb(255, 255, 255);
  color: white;
}
.leyenda-logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  text-justify: distribute;
  padding-top: 80px;
}
.list-footer {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  color: white;
  font-size: 18px;
  padding-top: 20px;
  margin-bottom: 100px;
}
.items-footer {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100% / 100% 0% 100% 10%;
  font-size: 18px;
  padding: 5px 20px;
  border: none;
  border: solid 2px;
  border-top: 1px;
  border-right: 1px;
  border-color: rgba(12, 12, 24, 0.927);
  cursor: pointer;
}
.items-footer:hover {
  background-color: white;
  border-color: white;
  border: none;
  color: rgb(24, 24, 50);
  font-weight: 900;
}

.leyenda-logo-footer img {
  position: absolute;
  width: 70px;
  bottom: 85px;
}
